<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
</head>
<body>
<div class="login-box">
    <h2>بوابة المريض</h2>
    <form>
        <input type="text" placeholder="رقم الهوية / رقم المريض">
        <input type="password" placeholder="كلمة المرور">
        <button type="submit">تسجيل الدخول</button>
    </form>
    <div class="footer-text">
        <p>نسيت كلمة المرور؟ <a href="#">اضغط هنا</a></p>
    </div>
</div>

</body>
</html>
